@use './colors' as colors;

//primary, secondary, danger, success, info, dark, light

$theme: (
  "primary": colors.$dark-blue,
  "secondary": colors.$purple,
  "danger": colors.$red,
  "success": colors.$green,
  "info": colors.$light-blue,
  "warning": colors.$yellow,
  "pink": colors.$pink,
  "dark": colors.$white,
  "light": colors.$black,
  "gray": colors.$gray,
);

//List Variables
$list-bullet: disc;
$list-number: decimal;
$list-alpha-lower: lower-alpha;
$list-alpha-upper: upper-alpha;
$list-roman-lower: lower-roman;
$list-roman-upper: upper-roman;