@use 'sass:map';
@use '../variables/theme' as theme;
@use '../variables/typography' as typography;
@use '../variables/sizing';

@mixin button ($btn-bg-color: map.get(theme.$theme,"primary"), $btn-text-color: map.get(theme.$theme,"dark")) {
    background-color: $btn-bg-color;
    color: $btn-text-color;
    display: inline-block;
    padding: 5px 10px;
    min-width: 120px;
    text-align: center;
    border-radius: map.get(sizing.$radius, lg);
    cursor: pointer;
    font-weight: typography.$fw-regular;
    text-decoration: none;
}

@each $key, $value in theme.$theme {
    .btn-#{$key} {
        @include button($value);
    }
}